#bigbox {
  width: 950px;
  height: 580px;
  border: 1px solid rgb(122, 7, 57);
  background-color: rgb(135, 33, 77);
  margin: 0 auto;
}

#smallbox {
  border: 1px solid rgb(116, 5, 49);
  width: 700px;
  height: 520px;
  margin-top: 30px;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
  background-color: rgb(114, 7, 50);
  color: white;
}

input,
select,
textarea {
  margin-top: 15px;
  width: 180px;
  margin-left: 0px;
  padding: 5px;
}

input[type="radio"] {
  width: 10px;
  height: 10px;
}

select {
  width: 135px;
  margin-left: 0px;
  margin-left: 38px;
}

input[type="submit"] {
  width: 320px;
  border-radius: 5px;
  font-size: large;
  border-color: white;
  font-weight: bold; 
}

input[type="text"]{
    margin-left: 63px;
}
input[type="email"] {
  margin-left: 67px;
}

input[type="password"] {
  margin-left: 36px;
}

textarea {
  margin-left: 58px;
  margin-top: 0px;
}

#zip {
  margin-left: 41px;
  margin-bottom: 0px;
}

#box {
  margin-top: 40px;
  margin-bottom: 30px;
  margin-left: 200px;
}

.gen {
  margin-left: 53px;
}

#about {
  margin-top: 15px;
}
